<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博文发布</title>
  <link href="../../static/images/me.jpg" th:href="@{/static/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/static/lib/editormd/css/editormd.min.css}">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

  <!--导航-->
  <nav class="ui inverted gird-header" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
        <a href="#" th:href="@{/admin/article}" class="active m-item item m-mobile-hide"><i class="home icon"></i>文章管理</a>
        <a href="#" th:href="@{/admin/type}" class=" m-item item m-mobile-hide"><i class="clone outline icon"></i>分类管理</a>
        <a href="#" th:href="@{/admin/friend}" class=" m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链管理</a>
        <a href="#" th:href="@{/admin/picture}" class=" m-item item m-mobile-hide"><i class="image icon"></i>相册管理</a>
        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown item">
            <div class="text">
              <img class="ui avatar image" src="../../static/images/me.jpg" th:src="@{/static/images/me.jpg}">
              <span>逆光飞行</span>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" th:href="@{/logout}" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/article/addArticlePage}" class="teal active item">发布</a>
        <a href="#" th:href="@{/admin/article}" class="item">列表</a>
      </div>
    </div>
  </div>
  </div>

  <!--中间内容-->
  <div  class="">
    <div class="ui container">
      <form id="blog-form" action="#" method="post" class="ui form">
        <input type="hidden" name="published">
        <input type="hidden" name="id">

        <div class="required field">
          <div class="ui left labeled input">
            <div class="ui selection compact teal basic dropdown label">
              <input type="hidden" value="原创" name="flag">
              <i class="dropdown icon"></i>
              <div class="text">原创</div>
              <div class="menu">
                <div class="item" data-value="原创">原创</div>
                <div class="item" data-value="转载">转载</div>
                <div class="item" data-value="翻译">翻译</div>
              </div>
            </div>
            <input type="text" name="title" id="title" placeholder="标题">
          </div>
        </div>

        <div class="required field">
          <div class="" id="md-content" style="z-index: 1 !important;">
            <textarea placeholder="博客内容" name="content" id="content" style="display: none"></textarea>
          </div>
        </div>

        <div class="two fields">
          <div class="required field">
            <div class="ui left labeled action input">
              <label class="ui compact teal basic label">分类</label>
              <div class="ui fluid selection dropdown">
                <!--新增-->
                <input type="hidden" name="type.id">
                <!--编辑-->
                <input type="hidden" id="type" name="typeId">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu" >
                  <div class="item" th:each="articleType:${articleTypes}" th:data-value="${articleType.id}" th:text="${articleType.name}">我的故事</div>
                </div>
                </div>
              </div>
            </div>

            <div class="required field">
              <div class="ui left labeled input">
                <label class="ui teal basic label">首图</label>
                <input type="text" name="firstPicture" id="firstPicture" placeholder="首图引用地址" value="http://122.51.201.14/coverpage/">
              </div>
            </div>
          </div>

          <div class="required field">
            <textarea name="description" id="description" placeholder="博客描述..." maxlength="200"></textarea>
          </div>

          <div class="inline fields">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" id="recommend" name="recommend" class="hidden" value="1"
                       onclick="this.value=(this.value==1)?2:1">
                <label for="recommend" style="color: white;">时间轴</label>
              </div>
            </div>
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="shareStatement" name="shareStatement" class="hidden">-->
            <!--              <label for="shareStatement" style="color: white;">转载声明</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="appreciation" name="appreciation" class="hidden">-->
            <!--              <label for="appreciation" style="color: white;">赞赏</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="commentabled" name="commentabled" class="hidden">-->
            <!--              <label for="commentabled" style="color: white;">评论</label>-->
            <!--            </div>-->
            <!--          </div>-->
          </div>

          <div class="ui error message"></div>

          <div class="ui right aligned container">
            <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
            <button type="button" id="save-btn" onclick="saveArticle('0')" class="ui secondary button">保存</button>
            <button type="button" id="publish-btn" onclick="saveArticle('1')" class="ui teal button">发布</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <br>
  <br>
<!--  &lt;!&ndash;底部栏&ndash;&gt;-->
<!--  <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">-->
<!--    &lt;!&ndash;容器&ndash;&gt;-->
<!--    <div class="ui center aligned container">-->
<!--      <div class="ui inverted divided stackable grid">-->
<!--        <div class="four wide column">-->
<!--          <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>-->
<!--          <div class="ui inverted link list">-->
<!--            <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>-->
<!--            <div href="#" class="m-text-thin">QQ：316392836</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="four wide column" >-->
<!--          <div class="ui inverted link list">-->
<!--            <div class="item">-->
<!--              &lt;!&ndash;微信二维码&ndash;&gt;-->
<!--              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >关注公众号</div>-->
<!--              <img src="../../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="four wide column">-->
<!--          <div class="ui inverted link list">-->
<!--            <div class="item">-->
<!--              &lt;!&ndash;微信二维码&ndash;&gt;-->
<!--              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >问题交流（QQ群）</div>-->
<!--              <img src="../../static/images/QQ-question.jpg" th:src="@{/images/QQ-question.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;博客运行时间统计&ndash;&gt;-->
<!--        <div class="four wide column">-->
<!--          <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>-->
<!--          &lt;!&ndash;<p id="htmer_time" class="item m-text-thin"></p>&ndash;&gt;-->
<!--          <div id="blog-message">-->
<!--            <div class="ui inverted link list" style="align-content: center;margin-top: 10px">-->
<!--              <div class="m-text-thin" style="text-align: left;margin-left: 75px;">-->
<!--                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2> 篇-->
<!--              </div>-->
<!--              <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2> 次-->
<!--              </div>-->
<!--              <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2> 条-->
<!--              </div>-->
<!--              <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2> 条-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui inverted section divider"></div>-->
<!--      <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>-->
<!--      <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>-->
<!--    </div>-->
<!--    </div>-->

<!--  </footer>-->


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/static/lib/editormd/editormd.min.js}"></script>





  <script type="text/javascript" th:inline="javascript">

    var rootUrl=[[${#httpServletRequest.getContextPath()}]];

      // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

      // // 运行时间统计
      // function secondToDate(second) {
      //     if (!second) {
      //         return 0;
      //     }
      //     var time = new Array(0, 0, 0, 0, 0);
      //     if (second >= 365 * 24 * 3600) {
      //         time[0] = parseInt(second / (365 * 24 * 3600));
      //         second %= 365 * 24 * 3600;
      //     }
      //     if (second >= 24 * 3600) {
      //         time[1] = parseInt(second / (24 * 3600));
      //         second %= 24 * 3600;
      //     }
      //     if (second >= 3600) {
      //         time[2] = parseInt(second / 3600);
      //         second %= 3600;
      //     }
      //     if (second >= 60) {
      //         time[3] = parseInt(second / 60);
      //         second %= 60;
      //     }
      //     if (second > 0) {
      //         time[4] = second;
      //     }
      //     return time;
      // }
      // function setTime() {
      //     /*此处为网站的创建时间*/
      //     var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
      //     var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
      //     currentTime = secondToDate((timestamp - create_time));
      //     currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
      //         + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
      //         + '秒';
      //     document.getElementById("htmer_time").innerHTML = currentTimeHtml;
      // }
      // setInterval(setTime, 1000);


    //初始化Markdown编辑器
    var contentEditor;
    $(function() {
      contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
       path    : "../../static/lib/editormd/lib/"
//         path    : "/lib/editormd/lib/"
      });
    });
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    // $('#save-btn').click(function () {
    //   $('[name="published"]').val(false);
    //   $('#blog-form').submit();
    // });


    // $('#publish-btn').click(function () {
    //   $('[name="published"]').val(true);
    //   $('#blog-form').submit();
    // });



    // $('.ui.form').form({
    //   fields : {
    //     title : {
    //       identifier: 'title',
    //       rules: [{
    //         type : 'empty',
    //         prompt: '标题：请输入博客标题'
    //       }]
    //     },
    //     content : {
    //       identifier: 'content',
    //       rules: [{
    //         type : 'empty',
    //         prompt: '标题：请输入博客内容'
    //       }]
    //     },
    //     typeId : {
    //       identifier: 'type.id',
    //       rules: [{
    //         type : 'empty',
    //         prompt: '标题：请输入博客分类'
    //       }]
    //     },
    //     firstPicture : {
    //       identifier: 'firstPicture',
    //       rules: [{
    //         type : 'empty',
    //         prompt: '标题：请输入博客首图'
    //       }]
    //     },
    //     description : {
    //       identifier: 'description',
    //       rules: [{
    //         type : 'empty',
    //         prompt: '标题：请输入博客描述'
    //       }]
    //     }
    //   }
    // });


    function saveArticle(draft){
      var title = $("#title").val();
      var content = $("#content").val();
      var typeId = $("#type").val();
      var picture = $("#firstPicture").val();
      var description = $("#description").val();
      var timeScroll = $("#recommend").val();

      if (title==null||title==''){
        alert("请输入文章标题!")
        return;
      }
      if (content==null||content==''){
        alert("请输入文章内容!")
        return;
      }
      if (typeId==null||typeId==''){
        alert("请选择文章分类!")
        return;
      }
      if (picture==null||picture==''){
        alert("请输入文章首图!")
        return;
      }
      if (description==null||description==''){
        alert("请输入文章描述!")
        return;
      }

      var article = {
        'title':title,
        'articleType':typeId,
        'type':timeScroll,
        'draft':draft,
        'content':content,
        'picture':picture,
        'description':description
      };

      article = JSON.stringify(article);

      $.ajax({
        type : 'POST',
        url : rootUrl+'/admin/article/addArticle',
        dataType : 'json',
        contentType:"application/json;charset=utf-8",
        data : article,
        success:function (data) {
          if("00000"==data.resCode){
            alert(data.resMsg);
            window.location.href = rootUrl+"/admin/article"
          }else{
            alert(data.resMsg);
          }
        }
      })
    }

  </script>
</body>
</html>