<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.archives.mapper.ArchivesMapper">
   
   <resultMap id="TimeLineResult" type="TimeLineResp">
       <result column="ID" property="id"/>
       <result column="TITLE" property="title"/>
       <result column="CREATE_TIME" property="createTime"/>
   </resultMap>

   <select id="selectAllTimeLine" resultMap="TimeLineResult">
       SELECT
       ID,
       TITLE,
       CREATE_TIME
       FROM
       ARTICLE
       WHERE
       DRAFT = '1'
       ORDER BY
       CREATE_TIME
       DESC
   </select>


</mapper>