<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.user.mapper.UserMapper">

    <resultMap id="UserResult" type="User">
        <result property="id" column="id"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME"/>
        <result property="status" column="STATUS"/>
    </resultMap>


    <resultMap id="RoleResult" type="Role">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="type" column="TYPE"/>
    </resultMap>


    <resultMap id="PermissionResult" type="Permission">

    </resultMap>


    <select id="findUserByUserName" resultMap="UserResult" parameterType="String">
        SELECT
        ID,
        NICK_NAME,
        EMAIL,
        PASSWORD,
        CREATE_TIME,
        LAST_LOGIN_TIME,
        STATUS
        FROM
        USER
        WHERE
        EMAIL = #{userName}
    </select>


    <select id="findRoleListByUserId" parameterType="Integer" resultMap="RoleResult">
        SELECT
        b.ID,
        b.NAME,
        b.TYPE
        FROM
        USER_ROLE a
        LEFT JOIN
        ROLE b
        ON
        a.ROLE_ID = b.ID
        WHERE
        USER_ID = #{id}
    </select>
</mapper>